
<div class="card mb-3" style="width: 18rem">
  <img src="../assets/imgCursoProgamacao.png" class="card-img-top" alt="Suco">
  <div class="card-body">
    <h5 class="card-title">Introdução a Programação</h5>
    <p class="card-text">Venha participar da nossas aulas!
      Fique mais preparado para o mundo profissional com maior retorno financiero </p>
    <p class="card-text">Gestor: caioleo.etec@gmail.com </p>
    <a href="#" class="btn btn-primary center">Participe</a>
  </div>
</div>


<div class="card mb-3" style="width: 50rem;">
  <img src="../assets/imgCursoProgamacao.png" class="card-img-top" alt="Suco">
  <div class="card-body">
    <h5 class="card-title">Introdução a Programação</h5>
    <p class="card-text">Venha participar da nossas aulas!
      Fique mais preparado para o mundo profissional com maior retorno financiero </p>
    <p class="card-text">Gestor: caioleo.etec@gmail.com </p>
    <a href="#" class="btn btn-primary center">Participe</a>
  </div>
</div>

cartão visita (nome, inteteresse, foto, insta/github,) => cartão profissionl
